.contests-page{
    padding: 10em 0 0 0;
    background-image: url("../Assets/inner-hero-shape-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    .archived-contests-btn{
        background-image: -webkit-linear-gradient(7deg, #ec1379 0%, #6c0092 100%);
        border: none;
        border-radius: 50px;
        font-size: 1.2em;
        font-weight: 500;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        padding: 1em 2em;
        display: block;
        width: fit-content;
        margin: 3em auto 0;
        cursor: pointer;
        box-shadow: 0px 17px 40px 0px rgba(201, 3, 112, 0.35);
    }
}

.contests-page{
    .contests-container{
        width: fit-content;
        margin: 0 auto;
    }
    h1{
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
        background-color: #12023e;
        box-shadow: 0.3px 1.2px 1.6px rgba(0, 0, 0, 0.017),
        0.6px 2.7px 3.6px rgba(0, 0, 0, 0.024),
        1.1px 4.7px 6.3px rgba(0, 0, 0, 0.03), 1.8px 7.5px 10px rgba(0, 0, 0, 0.035),
        2.7px 11.6px 15.5px rgba(0, 0, 0, 0.04),
        4.2px 18.1px 24.1px rgba(0, 0, 0, 0.046), 7px 30px 40px rgba(0, 0, 0, 0.053),
        14px 60px 80px rgba(0, 0, 0, 0.07);
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
        display: inline-block;
        min-width: 1000px;
        box-sizing: border-box;
        width: 100%;
        padding: 1.5em 1em;
    }
    .contests-wrapper{
        margin: 4em 0 0 0;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        .contest-card{
            margin: 0;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .contests-page{
        h1{
            font-size: 3em;
            min-width: 800px;
        }
        .contests-wrapper{
            grid-template-columns: auto auto;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .contests-page{
        h1{
            min-width: 0px;
            font-size: 2em;
        }
        .contests-container{
            margin: 0 auto;
        }
        .contests-wrapper{
            grid-template-columns: auto;
            column-gap: 0;
            margin: 3em 0 0 0;
            .contest-card{
                margin: 0 auto;
            }
        }
    }
}