.faq-page{
    padding: 10em 0 0 0;
    background-image: url("../Assets/inner-hero-shape-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    .faq-title-wrapper{
        box-shadow: 0.3px 1.2px 1.6px rgba(0, 0, 0, 0.017),
        0.6px 2.7px 3.6px rgba(0, 0, 0, 0.024),
        1.1px 4.7px 6.3px rgba(0, 0, 0, 0.03), 1.8px 7.5px 10px rgba(0, 0, 0, 0.035),
        2.7px 11.6px 15.5px rgba(0, 0, 0, 0.04),
        4.2px 18.1px 24.1px rgba(0, 0, 0, 0.046), 7px 30px 40px rgba(0, 0, 0, 0.053),
        14px 60px 80px rgba(0, 0, 0, 0.07);
        padding: 3em 6em;
        width: fit-content;
        margin: 0 auto;
        border-radius: 20px;
        background-image: -webkit-linear-gradient(120deg, rgb(59, 38, 219) 1%, rgb(123, 25, 203) 100%);
        h2{
            color: #ffb200;
            font-weight: 400;
            font-size: 1.5em;
            text-align: center;
        }
        h1, p{
            color: white;
            text-align: center;
        }
        h1{
            font-size: 3em;
        }
    }
    .faq-card:hover{
        transform: scale(1.02);
        transition-duration: .1s;
    }
    .faq-card{
        transition-duration: .1s;
        cursor: pointer;
        max-width: 600px;
        color: white;
        background-color: #683df5;
        border-radius: 10px;
        padding: 1em 2em;
        margin: 1em auto;
        user-select: none;
        p{
            font-size: 1.1em;
            pointer-events: none;
        }
        .question{
            margin: 0;
        }
        .answer{
            margin: 1em 0 0 0;
        }
        .wrapper{
            overflow: hidden;
            pointer-events: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    .faq-page{
        padding: 10em 2em 0;
        .faq-title-wrapper{
            padding: 2em 4em;
            h2{
                font-size: 1.2em;
            }
            h1{
                font-size: 2em;
                line-height: 1.3em;
            }
        }
        .faq-card:hover{
            transform: scale(1.02);
            transition-duration: .1s;
        }
        .faq-card{
            transition-duration: .1s;
            cursor: pointer;
            max-width: 600px;
            color: white;
            background-color: #683df5;
            border-radius: 10px;
            padding: 1em 2em;
            margin: 1em auto;
            user-select: none;
            p{
                font-size: 1.1em;
                pointer-events: none;
            }
            .question{
                margin: 0;
            }
            .answer{
                margin: 1em 0 0 0;
            }
            .wrapper{
                overflow: hidden;
                pointer-events: none;
            }
        }
    }
}
  