.landing{
    box-sizing: border-box;
    width: 100vw;
    background-size: 100%;
    justify-content: center;
    background-image: url("../Assets/circle.png");
    background-repeat: no-repeat;
    .wrapper{
        padding:0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .luck{
        color: #ffb200;
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 0 0 2em 0;
    }
    h1{
        color: white;
        text-align: center;
        font-size: 7em;
        font-weight: 700;
        margin: 0;
    }
    p{
        color: white;
        font-weight: 400;
        font-size: 1.4em;
        text-align: center;
        margin: 0 1em;
    }
    a{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    button{
        display: block;
        margin: 2em auto 0;
        text-transform: uppercase;
        font-size: 1.6em;
        padding: 1em 2em 0.8em;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        font-weight: 600;
        background-image: -webkit-linear-gradient(86deg, rgb(236, 3, 139) 0%, rgb(251, 100, 104) 44%, rgb(251, 185, 54) 100%);
        color: white;
        transition-duration: 0.1s;
        box-shadow: 0px 17px 40px 0px rgba(124, 78, 25, 0.35);
      ;
    }
    button:hover{
        transform: scale(1.05);
        transition-duration: 0.1s;
    }
}

@media only screen and (max-width: 1250px) {
    .landing{
        background-size: contain;
        h1{
            font-size: 6em;
        }
        .wrapper{
            padding: 5em 0 0 0;
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .landing{
        .wrapper{
            margin: 0;
            height: fit-content;
        }
        .luck{
            margin: 0 0 1em 0;
        }
        h1{
            font-size: 4em;
        }
        p{
            font-size: 1em;
            margin: 0 2em;
        }
        .wrapper{
            padding: 10em 0 0 0;
        }
        button{
            font-size: 1.1em;
        }
    }
  }