.how-to-play-section {
  background-image: url("../Assets/play-el.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 5em 0 0;
  .container {
    margin: 0 auto;
    width: 1200px;
  }
  .section-title-container {
    margin: 0 0 6em 0;
    h1 {
      font-size: 3.5em;
      text-align: left;
      margin: 0.5em 0;
    }
    h2 {
      color: #ffb200;
      margin: 0;
    }
    p {
      text-align: left;
      margin: 0;
      font-weight: 400;
      font-size: 1.2em;
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  .play-card {
    transition-duration: 0.2s;
    width: fit-content;
    padding: 2em 1em;
    background-size: cover;
    max-width: 255px;
    position: relative;
    border-radius: 10px;
    margin: 0 2em 2em 0;
    box-sizing: border-box;
    box-shadow: 0.3px 1.2px 1.6px rgba(0, 0, 0, 0.017),
    0.6px 2.7px 3.6px rgba(0, 0, 0, 0.024),
    1.1px 4.7px 6.3px rgba(0, 0, 0, 0.03), 1.8px 7.5px 10px rgba(0, 0, 0, 0.035),
    2.7px 11.6px 15.5px rgba(0, 0, 0, 0.04),
    4.2px 18.1px 24.1px rgba(0, 0, 0, 0.046), 7px 30px 40px rgba(0, 0, 0, 0.053),
    14px 60px 80px rgba(0, 0, 0, 0.07);
    .card-number {
      position: absolute;
      top: 90px;
      left: 160px;
      margin: 0;
      background-image: -webkit-linear-gradient(
        -45deg,
        #c165dd 0%,
        #5c27fe 100%
      );
      padding: 15px 15px 12px;
      clip-path: circle(40%);
    }
    .img-wrapper {
      box-shadow: 0px 13px 21px 0px hsla(334, 70%, 50%, 0.6),
        inset 0px 0px 15px 5px #fd4099;
      width: fit-content;
      margin: 0 auto 3em;
      padding: 1.5em;
      border-radius: 80px;
      border: 1px solid white;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    .card-title {
      margin: 0 0 1em 0;
    }
    .card-description {
      font-size: 1.1em;
      color: #c4cbf9;
    }
  }
  .play-card:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
  }
  .play-card:first-child {
    background-image: url("../Assets/card-bg-1.jpg");
  }
  .play-card:nth-child(2) {
    background-image: url("../Assets/card-bg-2.jpg");
    img {
      margin: 5px auto;
    }
  }
  .play-card:nth-child(3) {
    background-image: url("../Assets/card-bg-3.jpg");
  }
}

@media only screen and (max-width: 1250px) {
  .how-to-play-section {
    .container {
      margin: 0 auto;
      width: 800px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .how-to-play-section {
    padding: 3em 0 0 0;
    .container {
      margin: 0 auto;
      width: 400px;
    }
    .section-title-container {
      margin: 0 0 4em 0;
      h1,
      h2,
      p {
        text-align: center;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.2em;
      }
      p{
        font-size: 1em;
        margin: 0 1em;
      }
    }
  }
  .cards-container {
    align-items: center;
    justify-content: center;
    .play-card {
      margin: 0 0 2em 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .how-to-play-section {
    padding: 3em 0 0 0;
    box-sizing: border-box;
    .container {
      margin: 0 auto;
      width: fit-content;
    }
    .section-title-container {
      margin: 0 0 4em 0;
      h1,
      h2,
      p {
        text-align: center;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.2em;
      }
      p{
        font-size: 1em;
        margin: 0 1em;
      }
    }
  }
  .cards-container {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    .play-card {
      margin: 0 0 2em 0;
    }
  }
}
