.profile-page{
    margin:0;
    padding: 10em 0;
    background-image: url("../Assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media only screen and (max-width: 600px) {
    .profile-page{
        padding: 7em 0;
    }
  }